<div [hidden]='signInStatus'>
  <label>username: </label>
  <input type="text" name='username' [(ngModel)]='username' #user>
  <label> room:</label>
  <input type="text" name='room' [(ngModel)]='room' #rm>
  <button type='submit' (click)='createUser(user.value, rm.value)'>submit</button>
</div>

<div [hidden]='!signInStatus'> 

  <div *ngFor='let m of messages'>

    {{m.msg}} - <span class='smallFont'>{{m.user}} {{m.date | date: 'dd-MM-yyyy HH:mm' }}</span>
     <br>

  </div>

  <form>

    <input type="text" name='message' [(ngModel)]='messageText' #txt> 

    <button type='submit' (click)='onSubmit(txt.value)'>submit</button>


  </form>
</div>