.usernameForm{
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.buttonSignIn{ 

    width: 180px
}

.mainMsg{

    margin: 30px;

}

.msgList{

    padding: 20px;
}

.bottomInput {

    bottom:0;
    left:0;
    position: absolute; 
    float:left;
    width:80%;
    height:30px;

}

.bottomButton{

    bottom:0;
    right:0;
    position: absolute; 
    float:right;
    width:20%;
    height:35px;
    font-size: 20px;

}